.letter{
    border: solid black 1px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-basis: 30px;
    user-select: none;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.letter-clicked{
    border: solid black 1px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-basis: 30px;
    user-select: none;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: lightblue;
}
.letter-found{
    border: solid black 1px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-basis: 30px;
    user-select: none;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: lightgreen;
}
#gameGrid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#wordList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid black 2px;
    border-radius: 10px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
#mainRow{
    margin-top: 50px;
}
#mainContainer{
    background-color: #bcbcbd;
}
@media screen and (max-width: 992px){
    #wordList{
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
    }
    .wordInList{
        margin-left: 30px;
        margin-right: 30px;
    }
}